#main-school{
  position: relative;
  margin-top: 2px;
  padding: 2rem 1.5rem;
}
aside{
  padding: 2rem 1.5rem;
}
.announced h1{
  font-weight: bold;
  font-size: 1.7rem;
  padding-bottom: 1rem;
}
.not-view{
  color: cornflowerblue;
  font-weight: normal;
}