
<div id="main-school">
  <!-- <section class="d-flex justify-content-center">
   
     <button type="button" (click)="searchCursus()" class="btn btn-info">Voir Cursus</button>
  
    <button type="button" (click)="searchNiveau()" class="btn btn-info">Voir Niveau</button>
  
    <button type="button" (click)="searchFiliere()" class="btn btn-info">Voir Filière</button>
   
  </section> -->
  <aside>
    <div class="announced">
      <h1 class="text-center">Liste des candidats inscrits <span class="not-view">n'ayant pas d'état de candidatures</span></h1>
    </div>
      <app-candidat [showEtudiant]="showEtudiant"></app-candidat>
  </aside>
</div>
