<div class="profil">
  <div class="title">
    <h1 class="g-titre">{{ 'HOME.PROFIL.TITLE' | translate }}</h1>
  </div>
  <div class="infos-user">
    <div class="personal-infos">
      <div class="all-title">
        <h3>{{ 'HOME.PROFIL.TITLE1' | translate }}</h3>
      </div>
      <div class="personal">
        <div class="content">
          <div class="p-title">
            <mat-icon aria-hidden="false" aria-label="person icon">person</mat-icon>
            <span>{{ 'HOME.PROFIL.FIELD.full' | translate }}</span>
          </div>
          <div class="value">
            {{ Etudiant.nom }} <span> </span> {{ Etudiant.nom }}
          </div>
        </div>
        <div class="content">
          <div class="p-title">
            <mat-icon aria-hidden="false" aria-label="person icon">date_range</mat-icon>
            <span>{{ 'HOME.PROFIL.FIELD.date' | translate }}</span>
          </div>
          <div class="value">
           {{ Etudiant.dateNaissance ?? '/' }} à {{ Etudiant.lieu ?? '/' }}
          </div>
        </div>
        <div class="content">
          <div class="p-title">
            <mat-icon aria-hidden="false" aria-label="person icon">mail</mat-icon>
            <span>{{ 'HOME.PROFIL.FIELD.mail' | translate }}</span>
          </div>
          <div class="value">
            {{ Etudiant.email ?? '/' }}
          </div>
        </div>
        <div class="content">
          <div class="p-title">
            <mat-icon aria-hidden="false" aria-label="person icon">school</mat-icon>
            <span>{{ 'HOME.REGISTER.PAGE_3.qualification' | translate }}</span>
          </div>
          <div class="value">
          {{  Etudiant.diplomeAdmission!== null && Etudiant.diplomeAdmission !== undefined  ? Etudiant.diplomeAdmission.nomDiplome :  '/' }}
          </div>
        </div>
        <div class="content">
          <div class="p-title">
            <mat-icon aria-hidden="false" aria-label="person icon">supervisor_account</mat-icon>
            <span>{{ 'HOME.REGISTER.PAGE_2.phone' | translate }} - {{ 'HOME.REGISTER.PAGE_5.guardian' | translate }}</span>
          </div>
          <div class="value">
           {{ Etudiant.tuteur!== null && Etudiant.tuteur !== undefined ? Etudiant.tuteur.nomTuteur :'/' }} - {{ Etudiant.tuteur!== null && Etudiant.tuteur !== undefined ? Etudiant.tuteur.telephoneTuteur : '/' }}
          </div>
        </div>
      </div>
    </div>
    <div class="choix-cursus">
      <div class="all-title">
        <h3>{{ 'HOME.PROFIL.TITLE2' | translate }}</h3>
      </div>
      <div class="personal">
        <div class="content">
          <div class="p-title">
            <mat-icon aria-hidden="false" aria-label="person icon">calendar_today</mat-icon>
            <span>{{ 'HOME.PROFIL.FIELD.A_cur' | translate }}</span>
          </div>
          <div class="value">
            {{ date +'/'+ (date + 1) }}
          </div>
        </div>
        <div class="content">
          <div class="p-title">
            <mat-icon aria-hidden="false" aria-label="person icon">train</mat-icon>
            <span>{{ 'HOME.PROFIL.FIELD.choise_cur' | translate }}</span>
          </div>
          <div class="value">
           {{  Etudiant.cursus !== null && Etudiant.cursus !== undefined ? Etudiant.cursus.nomCursus : '/'}}
          </div>
        </div>
        <div class="content">
          <div class="p-title">
            <mat-icon aria-hidden="false" aria-label="person icon">work</mat-icon>
            <span>{{ 'HOME.PROFIL.FIELD.fac' | translate }}</span>
          </div>
          <div class="value">
           {{  Etudiant.filiere!== null && Etudiant.filiere !== undefined ? Etudiant.filiere.nomFiliere : '/' }}
          </div>
        </div>
        <div class="content">
          <div class="p-title">
            <mat-icon aria-hidden="false" aria-label="person icon">school</mat-icon>
            <span>{{ 'HOME.REGISTER.PAGE_3.qualification' | translate }}</span>
          </div>
          <div class="value">
            {{ Etudiant.diplomeAdmission!== null && Etudiant.diplomeAdmission !== undefined ? Etudiant.diplomeAdmission.nomDiplome :  '/' }}
          </div>
        </div>
        <div class="content">
          <div class="p-title">
            <mat-icon aria-hidden="false" aria-label="person icon">try</mat-icon>
            <span>{{ 'HOME.REGISTER.PAGE_3.round' | translate }}</span>
          </div>
          <div class="value">
            {{ Etudiant.diplomeAdmission!== null && Etudiant.diplomeAdmission !== undefined ? Etudiant.diplomeAdmission.serieDiplome : '/' }}
          </div>
        </div>
      </div>
    </div>
    <div class="state">
      <div class="all-title">
        <h3>{{ 'HOME.PROFIL.TITLE3' | translate }}</h3>
      </div>
      <div class="personal">
        <div class="content">
          <div class="p-title">
            <mat-icon aria-hidden="false" aria-label="person icon">pending</mat-icon>
            <span>{{ 'HOME.PROFIL.FIELD.state' | translate }}</span>
          </div>
          <div class="value state-view">
            <mat-icon aria-hidden="false" [ngClass]="{'invalid-icon': true, 'valid-icon': isValidate}" aria-label="person icon">
              {{ !isValidate ? 'thumb_down' : 'thumb_up' }}
            </mat-icon>
            <span id="span-state">{{ !isValidate ? ('HOME.PROFIL.FIELD.invalid' | translate) :  ('HOME.PROFIL.FIELD.valid' | translate) }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
