<div class="import">
  <div class="title">
    <h1 class="g-titre">Informations de l'inscrit et état d'avancement de sa candidature</h1>
  </div>
  <div class="infos-user">
    <div class="personal-infos">
      <div class="all-title">
        <h3>Informations Personnelles</h3>
      </div>
      <div class="personal">
        <div class="content">
          <div class="p-title">
            <mat-icon aria-hidden="false" aria-label="person icon">person</mat-icon>
            <span>Nom Complet</span>
          </div>
          <div class="value">
            Waffeu Ivany Botrel Rayn
          </div>
        </div>
        <div class="content">
          <div class="p-title">
            <mat-icon aria-hidden="false" aria-label="person icon">date_range</mat-icon>
            <span>Date & lieu de naissance</span>
          </div>
          <div class="value">
            12/09/2001
          </div>
        </div>
        <div class="content">
          <div class="p-title">
            <mat-icon aria-hidden="false" aria-label="person icon">mail</mat-icon>
            <span>Address email</span>
          </div>
          <div class="value">
            Waffeu@gmail.com
          </div>
        </div>
        <div class="content">
          <div class="p-title">
            <mat-icon aria-hidden="false" aria-label="person icon">person</mat-icon>
            <span>Nom Complet</span>
          </div>
          <div class="value">
            Waffeu Ivany Botrel Rayn
          </div>
        </div>
        <div class="content">
          <div class="p-title">
            <mat-icon aria-hidden="false" aria-label="person icon">person</mat-icon>
            <span>Nom Complet</span>
          </div>
          <div class="value">
            Waffeu Ivany Botrel Rayn
          </div>
        </div>
      </div>
    </div>
    <div class="choix-cursus">
      <div class="all-title">
        <h3>Informations du cursus academique choisit</h3>
      </div>
    </div>
    <div class="state">
      <div class="all-title">
        <h3>Etats de ma candicadure</h3>
      </div>
    </div>
  </div>
</div>
