<header class="header">
  <div class="content">
    <nav class="menu">
      <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/25/Logo_IUT_Douala.png" alt="">
        <span>Douala<sub>CMR</sub></span>
      </div>
      <div class="navigation">
        <ul>
          <li><a href="index.html">Acceuil</a></li>
          <li><a href="connexion.html">Se Connecter</a></li>
          <li><a href="inscription.html">S'inscrire</a></li>
          <li><a href="#">Aide</a></li>
        </ul>
      </div>
      <div class="responsive-menu">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <!-- Menu responsive -->
      <div class="resp">
        <div class="navigue">
          <ul>
            <li><a href="index.html">Acceuil</a></li>
            <li><a href="connexion.html">Se Connecter</a></li>
            <li><a href="inscription.html">S'inscrire</a></li>
            <li><a href="#">Aide</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
