:root{
  --main-color: #8bc20c;
  --color-dark: #1D2231;
  --text-grey: #8390A2;
}
/* todo: voir le probleme de variable en css sur phpstorm */

*{
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
}
.logo img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
}
.logo sub{
  font-size: 10px;
}
.logo span{
  margin-right: 0.4rem;
  font-size: 17px;
}
.logo span, .logo span sub{
  font-family: Roboto;
}
/* sidebar */

.sidebar{
  width: 310px;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  height: 100%;
  background: #8bc20c;
  transition: width 0.3s;
}
.sidebar-brand{
  height: 150px;
  padding: 1rem 0rem 1rem 1.3rem;
  color: #fff;
}
.sidebar-brand span{
  display: inline-block;
  padding-right: 1rem;
}
.sidebar-menu li{
  width: 100%;
  margin-bottom: 1.9rem;
  padding-left: 0rem;
}
.sidebar-menu a{
  display: block;
  color: #ffffff;
  font-size: 0.8rem;
  padding-left: 0.5rem;
  text-transform: uppercase;
  position: relative;
}
.sidebar-menu  a span:first-child{
  font-size: 1.5rem;
  padding: 0 0.8rem 0 1.3rem;
}
.sidebar-menu  a span:last-child{
  display: inline-block;
  position: absolute;
  top: 12%;
}
.main-content{
  margin-left: 310px;
  transition: margin-left 0.3s;
  height: auto;
}
.sidebar-menu  a.active{
  background-color: #fff;
  padding:  1rem 0 1rem 0;
  color:  #8bc20c;
  border-radius: 30px 0 0 30px;
}
.sidebar-menu  a.active span:last-child{
  top: 35%;
}
.main-content header{
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
  position: fixed;
  elevation: higher;
  z-index: 100;
  background-color: #9c9b9b;
  transition: left 0.3s;
  width: calc(100% - 310px);
  top: 0;
}
.main-content header h2{
  color: #222;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-content header label span{
  font-size: 1.7rem;
  display: inline-block;
  margin-top: 0.6rem;
  margin-right: 1rem;
}
.search-wrapper{
  border: 1px solid #ccc;
  border-radius: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}
.search-wrapper span{
  display: inline-block;
  padding: 0rem 1rem;
  font-size: 1.5rem;
}
.search-wrapper input{
  height: 100%;
  padding: .5rem;
  border: none;
  outline: none;
}
.user-wrapper{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.user-wrapper span{
  border-radius: 50px;
  margin-right: 1rem;
  background-color: #f8f5f5;
  padding: 10px;
  border: 1px solid #827d7d;
}
.user-wrapper small{
  display: inline-block;
  color: #e0e9f3;
}
.user-wrapper h4{
  margin-bottom: 0rem !important;
  margin-top: -10px!important;
  color: #f3ede5;
}

.main-content .main{
  position: relative;
}
#nav-toggle{
  display: none;
}
#nav-toggle:checked + .sidebar{
  width: 90px;
}
#nav-toggle:checked + .sidebar li{
  padding-left: 1rem;
}
#nav-toggle:checked + .sidebar .sidebar-brand h1 span:last-child,
#nav-toggle:checked + .sidebar .sidebar-menu ul li span:last-child{
  display: none;
}
#nav-toggle:checked + .sidebar .sidebar-menu ul li span:first-child{
  padding-left: 0;
  padding-right: 1rem;
}
#nav-toggle:checked + .sidebar .sidebar-menu ul{
  padding-left: 0.1em;
}
#nav-toggle:checked + .sidebar .sidebar-menu a{
  text-align: center;
}
#nav-toggle:checked + .sidebar .sidebar-brand{
  padding: 1rem 0.5rem 0 1em;
}
#nav-toggle:checked + .sidebar .sidebar-brand .logo img{
  padding: 0rem;
}
#nav-toggle:checked + .sidebar .sidebar-menu a.active{
  height: 40px;
  padding:0.5rem 0.7rem;
}
#nav-toggle:checked ~ .main-content header{
  width: calc(100% - 90px);
  left: 90px;
}
#nav-toggle:checked ~ .main-content{
  margin-left: 90px;
}

/* Medias query */

@media only screen and (max-width: 1200px) {
  .sidebar{
    width: 90px;
  }
  .sidebar .sidebar-brand,
   .sidebar li{
    padding-left: 1rem;
    text-align: center;
  }
  .sidebar li a{
    padding-left: 0rem;
  }
  .sidebar .sidebar-brand h1 span:last-child,
  .sidebar li a span:last-child{
    display: none;
  }
  .main-content{
    margin-left: 90px;
  }
  .main-content header{
    width: calc(100% - 90px);
    left: 90px;
  }
  .sidebar .sidebar-menu ul li span:first-child{
    padding-left: 0;
    padding-right: 1rem;
  }
  .sidebar .sidebar-menu ul{
    padding-left: 0.1em;
  }
  .sidebar .sidebar-menu a{
    text-align: center;
  }
  .sidebar .sidebar-brand{
    padding: 1rem 0.5rem 0 1em;
  }
  .sidebar.sidebar-brand .logo img{
    padding: 0rem 0 0 0;
  }
  .sidebar .sidebar-menu a.active{
    height: 40px;
    padding:0.5rem 0rem;
  }
  main-content header{
    width: calc(100% - 90px);
    left: 90px;
  }
 .main-content{
    margin-left: 90px;
  }
}
@media only screen and (max-width: 710px){
  .search-wrapper{
    display: none;
  }
  .sidebar{
    left: -100% !important;
  }
  header h2 label{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    margin-right: 0.5rem;
    text-align: center;
    height: 40px;
    width: 40px;
    color: #fff;
    background: #8bc20c;
    border-radius: 50%;
  }
  header h2 label span{
    margin-top: 0rem!important;
  }
  .main-content{
    width: 100%;
    margin-left: 0rem;
  }
  header{
    width: 100%!important;
    left: 0!important;
  }

  #nav-toggle:checked + .sidebar{
    left: 0!important;
    width: 100px;
  }
  #nav-toggle:checked + .sidebar .sidebar-brand,
  #nav-toggle:checked + .sidebar li{
    padding-left: 1rem;
    text-align: left;
  }
  #nav-toggle:checked + .sidebar li a{
    padding-left: 1rem;
  }
  .sidebar :hover.sidebar-brand h1 span:last-child,
  #nav-toggle:checked + .sidebar li a span:last-child{
    display: inline;
  }
  .sidebar .sidebar-menu ul{
    padding-left: 1.2em;
  }
  #nav-toggle:checked + .sidebar .sidebar-brand{
    padding: 1rem 0.5rem 0 1em;
  }
  #nav-toggle:checked + .sidebar .sidebar-menu a.active{
    height: 40px;
    padding:0.5rem 0rem;
  }
  #nav-toggle:checked ~ .main-content{
    margin-left: 0rem!important;
  }
}
#content-main{
  position: relative;
  z-index: -500;
}
main{
  position: relative;
  margin-top: 65px;
  padding: 2rem 1.5rem;
  background-color: #f1f5f9;
}
.cards{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
}
.card-single{
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  padding: 2rem;
  border-radius: 2px;
  transition: 0.5s;
  cursor: pointer;
}
.card-single:hover{
  box-shadow: 0 3px 22px rgba(0, 0, 0 ,0.2);
  transform: translateY(-15px);
}
.card-single div:last-child span{
  color: #8bc20c;
  font-size: 3rem;
}
.card-single div:first-child span{
  color: #8390A2;
}
/* table */
.thead-dark{
  background-color:#000;
  color:white;
}
@media only screen and (max-width: 960px){
  .cards{
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 710px){
  .cards{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (max-width: 680px){
  .cards{
    grid-template-columns: 100%;
  }
}
