<div>
  <input type="checkbox" id="nav-toggle">
  <div class="sidebar">
    <div class="sidebar-brand">
      <h1 class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/25/Logo_IUT_Douala.png" alt="">
        <span class="mx-2">Douala<sub>CMR</sub></span>
      </h1>
    </div>

    <div class="sidebar-menu">
      <ul>
        <li>
          <a routerLink="admin" routerLinkActive="active"><span class="material-icons">home</span><span>Home</span></a>
        </li>
        <li>
          <a routerLink="admis"  routerLinkActive="active"><span class="material-icons">recommend</span><span>ADMIS</span></a>
        </li>
        <li>
          <a routerLink="refused"  routerLinkActive="active"><span class="material-icons">thumb_down_alt</span><span>REFUSE</span></a>
        </li>
        <li>
          <a routerLink="school"  routerLinkActive="active"><span class="material-icons">school</span><span>Gestion des Filière</span></a>
        </li>
        <li>
          <a routerLink="time"  routerLinkActive="active"><span class="material-icons">edit_calendar</span><span>Gestion des Période</span></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-content">
    <header>
      <h2>
        <label for="nav-toggle">
          <span class="material-icons">menu</span>
        </label>
        Dashboard
      </h2>
      <div class="search-wrapper">
        <span class="material-icons">search</span>
        <input type="search" placeholder="Search here">
      </div>
      <div class="user-wrapper">
        <span class="material-icons">person</span>
        <div>
          <h4>WIBR</h4>
          <small>Admin</small>
        </div>
      </div>
    </header>
    <div class="main">
      <!--  Presentation des cards  -->
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
