#main-refused{
  position: relative;
  margin-top: 10px;
}

aside{
  padding: 2rem 1.5rem;
}
.announced h1{
  font-weight: bold;
  font-size: 1.7rem;
}
.thead-dark{
  background-color:#000;
  color:white;
}
.refused{
  color: darkred;
  font-weight: normal;
}
