<div class="import">
  <div class="title">
    <h1>{{ 'HOME.IMPORT.TITLE' | translate }}</h1>
  </div>
  <form [formGroup]="sendImage" (ngSubmit)="sendTabImage()">
    <div class="zones">
      <h2>{{ 'HOME.IMPORT.SUBTITLE1' | translate }}</h2>
      <div class="ordre">
        <h4>--> {{ 'HOME.IMPORT.SUBTITLE2' | translate }} <--</h4>
        <ul class="instruction">
          <li>{{ 'HOME.IMPORT.img1' | translate }}</li>
          <li>{{ 'HOME.IMPORT.img2' | translate }}</li>
          <li>{{ 'HOME.IMPORT.img3' | translate }}</li>
          <li>{{ 'HOME.IMPORT.img4' | translate }}</li>
          <li>{{ 'HOME.IMPORT.img5' | translate }}</li>
          <li>{{ 'HOME.IMPORT.img6' | translate }}</li>
          <li>{{ 'HOME.IMPORT.img7' | translate }}</li>
        </ul>
      </div>
      <div class="custom-dropzone ngx-dz-hovered" ngx-dropzone accept="image/*"
           [maxFileSize]=204800 [expandable]= true (change)="onSelect($event)" [disabled]= actif [disableClick]= actif >
        <ngx-dropzone-label>
           <div class="title-zone">
             <h3>{{ 'HOME.IMPORT.SUBTITLE3' | translate }}</h3>
           </div>
        </ngx-dropzone-label>
        <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files"
                                   [file]="f" [removable]="true" (removed)="onRemove(f)">
          <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
        </ngx-dropzone-image-preview>
      </div>
      <div class="send-images">
        <button class="lic-btn" type="submit" [disabled]="files.length !== nbfile" >Envoyer</button>
      </div>
    </div>
  </form>
</div>
