.spinner{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #000000;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rotate{
  border: 20px dotted deepskyblue;
  border-radius: 50%;
  animation-name: rotation;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
.circle{
  height: 100px;
  width: 100px;
  background-color: transparent;
  border-radius: 50%;
}
@keyframes rotation {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}
