.inscription{
  padding: 0 10px;
  /*background-color: transparent;*/
}
::ng-deep .mat-step-label{
  font-family: Roboto!important;
  color: black!important;
}
::ng-deep .mat-step-icon{
  background-color: #5e5c5c !important;
  height: 40px!important;
  width: 40px!important;
}
::ng-deep .mat-step-icon-state-done{
  background-color: yellowgreen!important;
}
mat-stepper{
  font-family: Roboto;
  background-color: white;
  color: black;
}
.parent{
  display: flex;
  justify-content: space-between;
  margin: 15px 0 8px 0;
}
.champs{
  margin-right: 15px;
  width: 63%;
}
.champsaround{
  margin-right: 15px;
  width: 55%;
}
.imgaround{
  width: 45%;
  position: relative;
  /*background-color: #000000;*/
}
.img{
  width: 36%;
  position: relative;
  /*background-color: #fff;*/
}
.buttons{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.buttons button{
  width: 150px;
  font-size: 15px;
  font-family: "Roboto";
  display: flex;
  justify-content: center;
  align-items: center;
}
.prev{
  background-color: #fff;
  color: black;
}
.next{
  background-color: #a4dc4a;
  color: white;
}
.liste{
  font-family: Roboto;
  font-size: 20px;
  margin: 15px 0;
  color: black;
  line-height: 25px;
}
mat-list button{
  margin: 0 20px;
}
/* style form */
 form{
   padding: 10px;
   margin-bottom: 40px;
   border-radius: 5px;
 }
 mat-form-field{
   margin: 10px;
 }
 .red{
   color: red;
   margin: 0 5px;
 }
mat-form-field.mat-form-field {
  font-size: 20px;
  font-family: Roboto;
  border-radius: 3px;
  box-shadow: 0 0 5px rgba(0,0,0,0.6);
}
mat-divider{
  background-color: gray;
}
::ng-deep .mat-form-field-wrapper{
  padding-bottom: 0px !important;
  margin: 0px !important;
}
mat-form-field.mat-focused{
  box-shadow: none;
}
mat-label{
  color: gray;
}
.right{
  margin-right: 20px;
}
/* Gestion du responsive */
@media screen and (max-width: 398px){
  .buttons{

  }
  .buttons button{
    width: 100px;
    font-size: 12px;
  }
}
@media screen and (max-width: 734px){
  .img, .imgaround{
    display: none;
  }
  .parent{
    justify-content: center;
    align-items: center;
  }
  .champsaround, .champs{
    width: 100%;
    margin-right: 0;
  }
  .liste{
    font-family: Roboto;
    font-size: 14px;
    margin: 5px 0;
    line-height: 18px;
  }
  mat-list button{
    margin: 0 2px;
  }
}
