<div class="connexion">
    <!-- code à inclure dans le component connexion -->
    <div class="formulaire">
       <div class="login">
           <div class="school">
               <img src="https://upload.wikimedia.org/wikipedia/commons/2/25/Logo_IUT_Douala.png" alt="">
               <h1 style="color: black;font-size:38px;margin:5px 0px;font-weight:bold">LOGIN</h1>
           </div>
           <div class="form">
             <div [ngClass]="{'font-weight-bold text-dark text-center alert': true, 'alert-danger': msgerr, 'alert-warning': msgwar}" role="alert">
               {{ message }}
             </div>
              <form [formGroup]="loginForm" (ngSubmit)="onLogin()">

                  <div class="mb-4">
                    <input type="text" placeholder="{{ 'HOME.LOGIN.FIELD_1'| translate }}" formControlName="username" class="form-control" id="username" required>
                    <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" id="firstHelp" class="form-text error">Veuillez remplir votre username</div>
                  </div>

                  <div class="mb-4" style="position: relative;">
                    <div class="fac" style="position: relative;">
                      <input type="password" placeholder="{{ 'HOME.LOGIN.FIELD_2'| translate }}" formControlName="password" class="form-control" id="InputPassword1" required>

                      <span class="sh s">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye-off"><path d="M17.94 17.94A10.07 10.07 0 0 1 12 20c-7 0-11-8-11-8a18.45 18.45 0 0 1 5.06-5.94M9.9 4.24A9.12 9.12 0 0 1 12 4c7 0 11 8 11 8a18.5 18.5 0 0 1-2.16 3.19m-6.72-1.07a3 3 0 1 1-4.24-4.24"></path><line x1="1" y1="1" x2="23" y2="23"></line></svg>
                      </span>
                      <span class="sh h">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-eye"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
                      </span>
                    </div>
                    <!--    gestion en cas d'erreur    -->
                    <div id="passworHelp"*ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="form-text error">Veuillez remplir votre password</div>
                    <!--     end         -->

                  </div>

                  <button type="submit" class="btn btn-success mb-4 w-100" [disabled]="loginForm.invalid" >{{ 'HOME.LOGIN.BTN'| translate }}</button>
                  <div class="mb-3 form-check w-100">
                      <span>{{ 'HOME.LOGIN.LATER'| translate }}
                          <a routerLink = "/inscription" style="margin-left: 1em;">{{ 'HOME.LINKS.LINK_3'| translate }}</a> | <a routerLink="/home">{{ 'HOME.LINKS.LINK_1'| translate }}</a>
                      </span>
                  </div>
                  <div class="mb-3 form-check w-100">
                    <a href="" class="" data-bs-toggle="modal" data-bs-target="#forgotpass" style="float: right;">{{ 'HOME.LOGIN.FORGOT'| translate }}</a>
                  </div>
                </form>
           </div>
       </div>
    </div>
    <!-- end code -->
</div>
<div class="modal fade" id="forgotpass" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" id="modalforgot">
        <div class="modal-header" style="border: none;">
          <h3 class="modal-title" id="exampleModalLabel">Mot de passe oublié</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" style="border: none;">
          <div [ngClass]="{'font-weight-bold text-dark text-center alert': true, 'alert-danger': msgerrR, 'alert-warning': msgwarR}" role="alert">
            {{ messageR }}
          </div>
          <form [formGroup]="forget" (ngSubmit)="onResetPassword()">
            <div class="mb-3">
              <input type="text" class="form-control" formControlName = "name" placeholder="Nom" required>
              <div id="passworHelp" *ngIf="forget.get('name')?.invalid && forget.get('name')?.touched" class="form-text error">Veuillez remplir votre nom</div>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" formControlName = "lastname" placeholder="Prénom" required>
                <div id="passworHelp" *ngIf="forget.get('lastname')?.invalid && forget.get('lastname')?.touched" class="form-text error">Veulilez remplir votre prénom</div>
            </div>
            <div class="mb-3">
                <input type="date" class="form-control" formControlName = "birth" placeholder="Date de naissance" required>
                <div id="passworHelp" *ngIf="forget.get('birth')?.invalid && forget.get('birth')?.touched" class="form-text error">Veuillez remplir votre date de naissancediv</div>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" formControlName = "place" placeholder="Lieu de naissance" required>
                <div id="passworHelp" *ngIf="forget.get('place')?.invalid && forget.get('place')?.touched" class="form-text error">Veuillez remplir votre lieu de Naissancev</div>
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" formControlName = "newpassword" placeholder="Nouveau mot de passe" required>
                <div id="passworHelp" *ngIf="forget.get('newpassword')?.invalid && forget.get('newpassword')?.touched" class="form-text error">Veuillez remplir votre password</div>
            </div>
            <div class="modal-footer">
              <button type="submit" [disabled]="forget.invalid" class="btn btn-success w-100">Envoyer</button>
            </div>
    </form>
  </div>
</div>
