.connexion{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    background-color: darkturquoise;
}
.formulaire{
    position: relative;
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px;
    width: 500px;
    padding: 8px 0;
    border-radius: 5px;
    box-shadow: 0 0 38px rgba(0, 0, 0, 0.6);
    /*background-color: rgba(27, 26, 26, 0.8);*/
    background-color: #fff;
}
.login .school{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0 0 20px 0;
}
.login .school img{
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.8);
    background-color: #fff;
}
.form{
    width: 60%;
}
form input{
    font-family: Roboto;
    color: dimgray;
    border: 1px solid rgba(109,109,109, 0.5);
    min-height: 50px;
}
form label, button{
    color: white;
    font-family: Roboto;
    min-height: 50px;
    border-radius: 3px;
}
span.sh{
    position: absolute;
    right: 5%;
    top: 25%;
    cursor: pointer;
}
span.sh.h{
    display: none;
}
/* #forgotpass label{
    color: black;
} */
#modalforgot{
    border-radius: 3px;
    color: white;
    box-shadow: 0 0 38px rgba(0, 0, 0, 0.6);
    /* background-color: rgb(61, 61, 61); */
    background-color: rgba(75, 118, 20, 0.8);
}
.modal-footer{
    display: flex;
    justify-content: space-between;
}
.btn-close{
    background-color:white;
    border-radius:50%;
}
#exampleModalLabel{
    text-align: center;
    font-size: 30px;
}
.start{
    color: red;
}
.error{
  color: #ec3131;
  font-size: 14px;
}


