<div class="main">
  <div id="content">
    <div class="header">
      <img src="../../assets/images/headeriut.png">
    </div>
    <div class="head">
      <div class="box" style="width: 20%;">
        Coller photo
      </div>
      <div class="box w-50">
        FICHE D'INSCRIPTION AU CONCOURS D'ENTREE A L'IUT DE DOUALA
      </div>
      <div class="box" style="width: 20%;">
        Timbre Fiscal(Stam here)
      </div>
    </div>
    <div class="infos-user">
      <div class="info-1 w-75">
        <h3>Informations Personnelles/Personnal Informations</h3>
        <div class="field">
          <div><strong>Nom: </strong>name</div>
          <div><strong>Prénom: </strong>prenom</div>
          <div><strong>Date Naissance: </strong>12/09/2001</div>
          <div><strong>Lieu naissance: </strong>Douala</div>
          <div><strong>Sexe: </strong>Maxculin</div>
          <div><strong>Nationalité: </strong>CMR</div>
          <div><strong>Région d'origine: </strong>Littoral</div>
          <div><strong>N°CNI: </strong>100911554478</div>
          <div><strong>Adresse: </strong>Makepe</div>
          <div><strong>Numéro de Tel: </strong>689754123</div>
        </div>
      </div>
      <div class="info-2 w-75">
        <h3>Détails Concours/Entrance Details: <span class="green">Cursus</span></h3>
        <div class="field">
          <div><strong>Session :</strong>2021/2022</div>
          <div><strong>Concours du :</strong>Niveau 1</div>
          <div><strong>Diplôme d'éntrée :</strong>DUT</div>
          <div><strong>Choix Filière :</strong>Genie Logiciel</div>
          <div><strong>Centre Examen :</strong>Douala</div>
          <div><strong>Langue Examen :</strong>Francais</div>
        </div>
      </div>
      <div class="info-3 w-75">
        <h3><span class="green">Cursus Académique/Academic curriculum : </span></h3>
        <div class="lic-table">
          <div class="title">
            <div>Ecole/School :</div>
            <div>Année/Year :</div>
            <div>Diplôme :</div>
            <div>Mention/Grade</div>
          </div>
            <div class="one">
              <div>Collége De L'AGAPE</div>
              <div>2015</div>
              <div>BEPC</div>
              <div>ASSEZ-BIEN</div>
            </div>
            <div class="one">
              <div>Collége De L'AGAPE</div>
              <div>2017</div>
              <div>PROBATOIRE</div>
              <div>ASSEZ-BIEN</div>
            </div>
            <div class="one">
              <div>Collége De L'AGAPE</div>
              <div>2018</div>
              <div>BAccalauréat</div>
              <div>PAssable</div>
            </div>
        </div>
      </div>
      <div class="elmts w-75">
        <h3><span class="red">Informations Importantes/Importants Informations</span></h3>
        <ul>
          <li>Une fiche individuelle à timbrer à 1000 FCFA par le candidat obtenu après remplisssage du formulaire en
            ligne sur le site web;
            <i>A registration form for stamping at 1000 FCFA by the candidate obtened afterlfilling the online form on the website</i>
          </li>
          <li>Une photocopie certifiée conforme de l'acte de naissance datant de moins de 3 mois et signée par une autirité
            administrative ou municipale;
            <i>A certfied true photocopy of birth certificate not older than three months and signed by administative or municipal autirity.</i>
          </li>
          <li>Une photocopie certifiée conforme du diplôme donnant droit au concours.
            <i>A certiified photocopy of the diploma giving entertement to the competition</i></li>
          <li>Une photocopie certifiée conforme des relevés de notes PRoatoires et du Baccalaureat ou du GCE/OL et du GCE/AL selon le cas.
           <i>A certified true photocopy of Baccalaureate and Probatoire Or GCE/AL not older than three months.</i>
          </li>
          <li>Un certificat médical datant de moin de trois mois et délivr¹ par un médécin de l'administration publique.
            <i>A medical certificate not older than three months issued by state medical practionner.</i>
          </li>
          <li>Quatre (04) photos d'identité 4x4 portant noms et prénoms au verso.
            <i>Four (4) recent password size photographs with names written behind.</i>
          </li>
          <li>Un recu de versement bancaire d'un montant de  20 000 (vingt mille) FCFA représentant les droits de concours et payables dans toutes les angences UBA
            du pays, compte N° 1400 400 000 6 CLE 90 OU BICEC N° 0125 310 1002-18 de 'IUT de L'université de Douala ou a Express Union pour les villes ou UBA n'existe pas;
            <i>A twenty thousand (20 000) FCFA bank receipt being examination fees to pay at the UBA account N° 1400 400 000 6 CLE 90 OR N° 0125 310 1002-18 OF THE IUT OF THE
            University of Douala</i>
          </li>
          <li>Une envveloppe A4 timbrée à 400F CFA (timbre poste) portant l'adresse complète du candidat;
            <i>A4 siz self-addressed enveloppe bearing a 400 CFA F postal stamp</i>
          </li>
          <li>LIEUX DE DEPOT DES DOSSIERS : Service de la scolarité de l'IUT de Douala et dans toutes les délégations régionales des enseignements secondaires.
            <i>PLACE OF DEPOSIT OF DOCUMENTS: student's affair's officce of the IUT at the LOGBESSOU. Campus o the University of Douala and all the regional
            delegations of secondary education</i>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <button class="lic-btn" (click)="downloadpdf()">Télécharger le PDF</button>
</div>
