<table class="table table-hover">
    <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Nom</th>
      <th scope="col">AJouter</th>
      <th scope="col">Modifier</th>
      <th scope="col">Supprimer</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let elt of showEtudiant;let i = index;">
      <th scope="row">{{ i+1 }}</th>
      <td>{{ elt.nomFiliere !== null && elt.nomFiliere !== undefined ? elt.nomFiliere : elt.Niveau !== null
         && elt.Niveau !== undefined ? elt.Niveau: elt.nomCursus !== null && elt.nomCursus !== undefined
          ? elt.nomCursus : '' }}</td>
      <td><button type="button"  (click)="addFilere()" class="btn btn-info" (click)="addFilere()">Ajouter</button></td>
      <td><button type="button" class="btn btn-warning" (click)="updateFilere(1)">Modifier</button></td>
      <td><button type="button" class="btn btn-danger"  (click)="deleteFiliere(1)">Supprimer</button></td>
    </tr>
    </tbody>
  </table>