<div class="containered">
    <header class="header">
        <div class="content">
            <nav class="menu">
                <div class="logo">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/2/25/Logo_IUT_Douala.png" alt="">
                    <span>Douala<sub>CMR</sub></span>
                </div>
                <div class="navigation">
                    <ul>
                        <li><a routerLink="/home" routerLinkActive='here'>{{ 'HOME.LINKS.LINK_1' | translate }}</a></li>
                        <li><a routerLink="/connexion" routerLinkActive='here'>{{ 'HOME.LINKS.LINK_2' | translate }}</a></li>
                        <li><a routerLink="/inscription">{{ 'HOME.LINKS.LINK_3' | translate }}</a></li>
                        <li><a routerLink="/inscription/help">{{ 'HOME.LINKS.LINK_4' | translate }}</a></li>
                    </ul>
                </div>
                <div class="responsive-menu" #burger (click)="OpenBurger(burger, responsive)">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <!-- Menu responsive -->
                  <div class="resp" id="menures" #responsive>
                    <div class="navigue">
                        <ul>
                            <li><a routerLink="/home" routerLinkActive='here'>{{ 'HOME.LINKS.LINK_1' | translate }}</a></li>
                            <li><a routerLink="/connexion" routerLinkActive='here'>{{ 'HOME.LINKS.LINK_2' | translate }}</a></li>
                            <li><a routerLink="/inscription">{{ 'HOME.LINKS.LINK_3' | translate }}</a></li>
                            <li><a routerLink="/inscription/help">{{ 'HOME.LINKS.LINK_4' | translate }}</a></li>
                        </ul>
                    </div>
                  </div>
            </nav>
            <div class="description">
                <div class="encouragement">
                    <p>{{ 'HOME.HOOK.TITLE_1' | translate }}</p><span>{{ 'HOME.HOOK.TITLE_2' | translate }}!</span>
                </div>
                <div class="desc">
                    <span class="ligne1"></span>
                    <span class="text">{{ 'HOME.HOOK.SUB_TITLE' | translate }}</span>
                    <span class="ligne2"></span>
                </div>
                <div class="site">
                    <a href="https://iut-dla.cm/" target="_blank">{{ 'HOME.BUTTON.MORE' | translate }} <span>→</span></a>
                </div>
            </div>
        </div>
    </header>
    <div class="presentation">
        <div class="elt">
           <div class="position-img">
                <img src="../../assets/images/GI.jpeg" alt="">
           </div>
            <div class="box">
                <div class="bt">
                    <h1>PFTIN</h1>
                    <p><span>{{ 'HOME.LINKS.IN_SIG' | translate }}</span>
                      {{ 'HOME.LINKS.PFTIN' | translate }}
                    </p>
                </div>
            </div>
        </div>
        <div class="elt">
               <div class="position-img">
                    <img src="../../assets/images/TI.jpeg" alt="">
               </div>
            <div class="box">
                <div class="bt">
                    <h1>PFTI</h1>
                    <p><span>{{ 'HOME.LINKS.TI_SIG' | translate }}</span>
                      {{ 'HOME.LINKS.PFTI' | translate }}
                    </p>
                </div>
            </div>
        </div>
        <div class="elt">
               <div class="position-img">
                    <img src="../../assets/images/TT.jpeg" alt="">
               </div>
            <div class="box">
                <div class="bt">
                    <h1>PFTT</h1>
                    <p><span>{{ 'HOME.LINKS.TT_SIG' | translate }}</span>
                      {{ 'HOME.LINKS.PFTT' | translate }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="foot">
        <footer>
           <div class="hauteur">
                <div class="apropos">
                    <h2>Navigation</h2>
                    <ul>
                        <li><a routerLink="/connexion">{{ 'HOME.LINKS.LINK_1' | translate }}</a></li>
                        <li><a routerLink="/inscription">{{ 'HOME.LINKS.LINK_3' | translate }}</a></li>
                        <li><a routerLink="/inscription/help">{{ 'HOME.LINKS.LINK_4' | translate }}</a></li>
                    </ul>
                </div>
                <div class="perso">
                    <h2>DEVELOPPEURS</h2>
                    <ul>
                        <li>ABDEL SADOU</li>
                        <li>WAFFEU I.B. RAYN</li>
                    </ul>
                </div>
                <div class="media">
                    <h2>Medias</h2>
                    <ul>
                        <li><a href="https://www.facebook.com/iutdouala/" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="rgba(69, 134, 231, 0.801)" stroke="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-facebook"><path d="M18 2h-3a5 5 0 0 0-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 0 1 1-1h3z"></path></svg>
                        </a></li>
                        <li><a href="mailto:infos.iut@univ-douala.com">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="none" stroke="brown" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail"><path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"></path><polyline points="22,6 12,13 2,6"></polyline></svg>
                        </a></li>
                        <li><a href="https://twitter.com/iut_douala" target="_blank">
                            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="0 0 24 24" fill="rgb(22, 122, 236)" stroke="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-twitter"><path d="M23 3a10.9 10.9 0 0 1-3.14 1.53 4.48 4.48 0 0 0-7.86 3v1A10.66 10.66 0 0 1 3 4s-4 9 5 13a11.64 11.64 0 0 1-7 2c9 5 20 0 20-11.5a4.5 4.5 0 0 0-.08-.83A7.72 7.72 0 0 0 23 3z"></path></svg>
                        </a></li>
                    </ul>
                </div>
           </div>
           <div class="copy">
               <p>Copyright <span>Universiatire De Technologie De Douala</span>Tous droits réservés.| Power by IUT Student</p>
           </div>
        </footer>
    </div>
</div>
