#main-dashboard{
  position: relative;
  margin-top: 10px;
  background-color: #fff;
}
aside{
  padding: 2rem 1.5rem;
}
.announced h1{
  font-weight: bold;
  font-size: 1.7rem;
  padding-bottom: 1rem;
}
.thead-dark{
  background-color:#000;
  color:white;
}
.not-view{
  color: cornflowerblue;
  font-weight: normal;
}
td, th{
  text-align: center;
}