:root{
  --main-color: #8bc20c;
  --color-dark: #1D2231;
  --text-grey: #8390A2;
}
/* todo: voir le probleme de variable en css sur phpstorm */

*{
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
}
.logo{

}
.logo img{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
}
.logo sub{
  font-size: 10px;
}
.logo span{
  margin: 0em 0 0rem 0.5rem;
 line-height: 55px;
}
.logo span, .logo span sub{
  font-family: Roboto;
}
/* sidebar */

.sidebar{
  width: 345px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background: #267b5f;
}
.sidebar-brand{
  height: 80px;
  padding: 1rem 0rem 1rem 2rem;
  color: #fff;
}
.sidebar-brand span{
  display: inline-block;
  padding-right: 1rem;
}
.sidebar-menu li{
  width: 100%;
  margin-bottom: 1.7rem;
  padding-left: 2rem;
}
.sidebar-menu a{
  display: block;
  color: #ffffff;
  font-size: 1.1rem;
  padding-left: 0.5rem;
  text-transform: uppercase;
}
.sidebar-menu  a span:first-child{
  font-size: 1.5rem;
  padding: 0 0.8rem 0 1.3rem;
}
.sidebar-menu  a span:last-child{
  display: inline-block;
}
.main-content{
  margin-left: 345px;
}
.sidebar-menu  a.active{
  background-color: #fff;
  padding:  1rem 0 1rem 0;
  color:  #267b5f;
  border-radius: 30px 0 0 30px;
}
header{
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
}
header h2{
  color: #222;
}
header label span{
  font-size: 1.7rem;
  padding-right: 1rem;
}
.search-wrapper{
  border: 1px solid #ccc;
  border-radius: 30px;
  height: 50px;
  display: flex;
  align-items: center;
  overflow-x: hidden;
}
.search-wrapper span{
  display: inline-block;
  padding: 0rem 1rem;
  font-size: 1.5rem;
}
.search-wrapper input{
  height: 100%;
  padding: .5rem;
  border: none;
  outline: none;
}
.user-wrapper{
  display: flex;
  align-items: center;
}
.user-wrapper span{
  border-radius: 50px;
  margin-right: 1rem;
}
.user-wrapper small{
  display: inline-block;
  color: #8390A2;
}
.user-wrapper h4{
  margin-bottom: 0rem !important;
  margin-top: -10px!important;
}
