<!--    card pour le nombre de candidat et le nbre de fille, de garcons et d'handicapé -->
<div id="content-main" style="z-index: -400!important;">
  <main>
    <div class="cards">
      <div class="card-single">
        <div>
          <h1>54</h1>
          <span>Candidats</span>
        </div>
        <div>
          <span class="material-icons">groups</span>
        </div>
      </div>

      <div class="card-single">
        <div>
          <h1>54</h1>
          <span>Femmes</span>
        </div>
        <div>
          <span class="material-icons">female</span>
        </div>
      </div>

      <div class="card-single">
        <div>
          <h1>54</h1>
          <span>Hommes</span>
        </div>
        <div>
          <span class="material-icons">male</span>
        </div>
      </div>

      <div class="card-single">
        <div>
          <h1>54</h1>
          <span>Handicapé</span>
        </div>
        <div>
          <span class="material-icons">accessible</span>
        </div>
      </div>
    </div>
  </main>
</div>
