<!--    card pour le nombre de candidat et le nbre de fille, de garcons et d'handicapé -->
<div id="main-dashboard">
  <aside>
    <div class="announced">
      <h1 class="text-center">Liste des candidats inscrits <span class="not-view">n'ayant pas d'état de candidatures</span></h1>
    </div>
    <table class="table table-hover">
      <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Sexe</th>
        <th scope="col">CNI</th>
        <th scope="col">email</th>
        <th scope="col">Téléphone</th>
        <th scope="col">Centre</th>
        <th scope="col">Filière</th>
        <th scope="col">Niveau</th>
        <th scope="col">Plus</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>Mark</td>
        <td>Otto</td>
        <td>@mdo</td>
        <td>@mdo</td>
        <td>@mdo</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>Larry</td>
        <td>Larry</td>
        <td>the Bird</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@twitter</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>Larry</td>
        <td>Larry</td>
        <td>the Bird</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row">4</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>Larry</td>
        <td>Larry</td>
        <td>the Bird</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row">5</th>
        <td>Larry</td>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>Larry</td>
        <td>Larry</td>
        <td>the Bird</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row">6</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>Larry</td>
        <td>Larry</td>
        <td>the Bird</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row">7</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>Larry</td>
        <td>Larry</td>
        <td>the Bird</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row">8</th>
        <td>Larry</td>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>Larry</td>
        <td>Larry</td>
        <td>the Bird</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row">9</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>Larry</td>
        <td>Larry</td>
        <td>the Bird</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@twitter</td>
      </tr>
      <tr>
        <th scope="row">10</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>Larry</td>
        <td>Larry</td>
        <td>the Bird</td>
        <td>the Bird</td>
        <td>@twitter</td>
        <td>@twitter</td>
      </tr>
      </tbody>
    </table>
  </aside>
</div>
