<header class="header">
  <div class="content">
    <nav class="menu">
      <div class="logo">
        <img src="https://upload.wikimedia.org/wikipedia/commons/2/25/Logo_IUT_Douala.png" alt="">
        <span>Douala<sub>CMR</sub></span>
      </div>
      <div class="navigation">
        <ul>
          <li><a routerLink="/inscription/help" routerLinkActive='here'>{{ 'HOME.LINKS.LINK_4' | translate }}</a></li>
          <li>
            <div class="profil">
              <div class="imgprofil" (click)="menuprofil()">{{ fullname.charAt(0) }}</div>
            </div>
            <div class="menuprofil" id="menuProfil">
              <h3>{{ fullname }}<b>
                <span><a class="mail" href="mailto:{{ email }}">{{ email }}</a></span>
              </b></h3>
              <ul class="s-menu-profil">
                <li><span></span><a routerLink="import" routerLinkActive='here'>{{ 'HOME.LINKS.PI' | translate }}</a></li>
                <li><a routerLink="/profil" routerLinkActive='here'>{{ 'HOME.LINKS.VP' | translate }}</a></li>
                <li><a routerLinkActive="here" (click)="logout()">{{ 'HOME.LINKS.OUT' | translate }}</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <div class="responsive-menu" #burger (click)="OpenBurger(burger, responsive)">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <!-- Menu responsive -->
      <div class="resp"  id="menures" #responsive>
        <div class="navigue">
          <ul>
            <div class="imgprofil" (click)="menuprofil()">{{ fullname.charAt(0) }}</div>
            <li><a routerLink="/inscription/help" routerlinkActive="here">{{ 'HOME.LINKS.LINK_4' | translate }}</a></li>
            <li><a routerLink="import" routerlinkActive="here">{{ 'HOME.LINKS.PI' | translate }}</a></li>
            <li><a routerLink="/profil" routerlinkActive="here">{{ 'HOME.LINKS.VP' | translate }}</a></li>
            <li><a (click)="logout()" routerlinkActive="here">{{ 'HOME.LINKS.OUT' | translate }}</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</header>
